#reset-password-link-parent {
  width: 100%;
  height: 90.8vh;
  display: flow-root;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

#password-link {
  width: 100%;
}

#reset-password-link-form {
  width: 40%;
  height: 250px;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#reset-password-link-form input {
  background: none;
  border: 1px solid rgb(139, 137, 137);
}

#reset-password-link-form form {
  width: 85%;
  margin: 10% auto;
}

#reset-password-link-form button {
  margin-top: 13px;
  background-color: rgba(10, 47, 102, 0.596);
  border: none;
}
