.inbox-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.inbox-header {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.email-list {
  display: flex;
  flex-direction: column;
}

.email-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.email-item:hover {
  background-color: #f9f9f9;
}

.selected {
  background-color: #eaf4fc;
}

.email-radio {
  margin-right: 10px;
}

.email-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.email-sender {
  font-weight: bold;
}

.email-subject {
  color: #100f0f;
  font-weight: 700;
  position: relative;
  top: 7px;
}

.email-preview {
  color: #888;
  font-size: 0.9em;
}

.email-time {
  color: #aaa;
  font-size: 0.9em;
  margin-left: 10px;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}
